
body {
    background-color: #150099;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
    margin: 0;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

b {
    color: #FF00FF

}
